<div id="page_wrapper">

	<div id="content">
		<h1>
			Wellcome to my new Ruby on rails Blog	
		</h1>	
		<p>
			<p>
					My Name is <strong> Ahmed gouda</strong>
			</p> 
			you can contact me go to CONNECT ME link on the side bar
		</p>	


	</div>
</div>
